survey_results_public.csv
q2_pct_python_by_country.csv
q3_mean_salary_by_continent.csv
q4_language_desire_counts.csv   
q5_hobbyist_by_gender_continent.csv 
q6_job_satisfaction_by_gender_continent.csv 
q6_career_satisfaction_by_gender_continent.csv